.register {
  height: 50rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 background-color: black;
   background-image: url(../../Assets/Clean/20.jpg);
  background-size: cover;

  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

  }

  &__title {
    font-size: 2.5rem;

  }

  &__label {
    margin: 10px, 0;
  }

  &__input {
    padding: 10px;
    background-color: white;
    border: none;
  }

  &__buttonRegister {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }

  &__buttonLogin {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
}
