@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixin" as *;
@use "../../Styles/Partials/fonts" as *;


.btn {
    &__btn {
        width: max-content;
        display: inline-block;
        color: $primary-color;
        padding: 0.75rem 1.2rem;
        border-radius: 0.4rem;
        cursor: pointer;
        border: 1px solid $primary-color;
        transition: $transition;
    
    
        :hover {
          background: $third-color;
          color: $primary-background;
          border-color: transparent;
        }
      }
    }
