@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixin" as *;
@use "../../Styles/Partials/fonts" as *;

// @import url(https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento);

* {
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  color: #000000;
  font-family: "Signore - Serif Typeface";
  font-weight: normal;
  font-style: normal;
  line-height: 1.5rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 4%;
  text-align: justify;

  background-size: cover;
  background-position: center;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  &:before {
    mix-blend-mode: overlay;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    border: 1px solid #efefef;
    z-index: 2;
  }
  &:after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
  }
}

p {
  padding: 1em 0;
  letter-spacing: 1px;
  border-bottom: 0.5px rgb(241, 233, 213) solid;
  border-top: 0.5px rgb(252, 196, 243) solid;
}

h1 {
  margin-top: 0;
  //   font-family: Oswald;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.125;
  text-transform: uppercase;
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url(../../Assets/Clean/21.jpg);
  background-size: cover;
}

.nav-items {
  display: flex;
  flex-direction: row;
}
