@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixin" as *;
@use "../../Styles/Partials/fonts" as *;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 4%;
  //   text-align: justify;
  font-size: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-size: cover;
  background-position: center;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  &:before {
    mix-blend-mode: overlay;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    border: 1px solid #efefef;
    z-index: 2;
  }
  &:after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
  }
}

p {
  padding: 1em 0;

  border-bottom: 0.5px rgb(241, 233, 213) solid;
  border-top: 0.5px rgb(252, 196, 243) solid;
  //  backdrop-filter: blur(5px);
  margin-bottom: 3rem;
}

h1 {
  //   font-family: Oswald;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.125;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url(../../Assets/JPGGradients/11.jpg);
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;

  padding-right: 4rem;
  color: white;
  text-decoration: none;
  //   border-bottom: rgb(248, 241, 241) 0.2px solid;
  width: 95%;
  margin-left: 3rem;

  &__items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
  }

  &__link {
    color: white;
  }

  &__img {
    width: 100px;
  }

  &__logo {
    padding-top: 1rem;
    // background-image: url(../../Assets/Icons/Group.png);
    // background-size: cover;
    // background-position: right;
  }
}

.bubbles {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  line-height: 1rem;
  font-weight: 400;

  &__title {
    padding-bottom: 1rem;
    text-align: center;
  }

  &__text {
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  &__reflect,
  &__track,
  &__journal {
    width: 100%;
  }

//   &__text:hover {
//     background: radial-gradient(
//       circle farthest-corner at 10% 20%,
//       rgba(163, 175, 243, 1) 0%,
//       rgba(220, 182, 232, 1) 100.2%
//     );
//   }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  &__picture {
    width: 50px;
    justify-content: center;
  }
}

.button {
  display: flex;
  justify-content: center;
  &__cta {
    margin-bottom: 7rem;
    background: transparent;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: 0.5px solid white;
    cursor: pointer;

    color: #ffffff;

    text-transform: uppercase;
    letter-spacing: 2px;

    border-top: 1px solid #7d85d6;
    border-bottom: 0.5px solid #fcf7af;
    outline: none;

    transition: 0.5s;
  }

  &__cta:hover {
    border: none;
    box-shadow: 0 0 5px #f200ff, 0 0 10px #ff00f2, 0 0 30px #ee00ff,
      0 0 60px #dd00ff, 0 0 120px #ff00d9;
    color: rgb(206, 42, 214);

  }
}
