$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primary-background: #1f1f38;
$secondary-background: #2c2c6c;
$primary-color: #4db5ff;
$secondary-color: rgba(77, 181, 255, 0.4);
$third-color: #fff;
$fourth-color: rgba(255, 255, 255, 0.6);

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$transition: all 400ms ease;
