body {
  //   height: 100vh;
  width: 100%;
  // background: linear-gradient(to bottom, #222f3e, #66bbbb);

}

.userProfile {
  //   height: 100vh;
  //   width: 100%;
  //   // background: linear-gradient(to bottom, #222f3e, #66bbbb);
  //   background-image: url(../../Assets/JPGGradients/37.jpg);
  //   background-size: cover;
  font-family: "Signore - Serif Typeface";
  font-weight: normal;
  font-style: normal;
  background-image: url(../../Assets/JPGGradients/37.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.chart {
  width: 100%;
  height: 100vh;
}

.comments {
  color: black;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__username {
    margin: 0;
  }

  &__timestamp {
    margin-left: auto;
  }

  &__content {
    margin: 0;
    line-height: 1.5;
  }
}
