.userProfile {
    height: 100vh;
    width: 100%;
    background-color: linear-gradient(to bottom, #222f3e, #66bbbb);
}


.chart {
    width: 600px;
    height: 300px;
}


.comments {

  color: black;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 10px;

      
  &__header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
     
      
      &__username {
        margin: 0;
      }
      
      &__timestamp {
        margin-left: auto;
      }
      
     &__content {
        margin: 0;
        line-height: 1.5;
      }

}