@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixin" as *;
@use "../../Styles/Partials/fonts" as *;

.header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
  @include tablet {
    height: 68vh;
  }
  @include desktop {
    height: 100vh;
  }

  &__container {
    text-align: center;
    height: 100%;
    position: relative;
  }

  &__cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
  }

  &__socials {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      position: absolute;
      left: 0;
      bottom: 3rem;
    }
  }

  &__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: $primary-color;
  }

  &__image {
    background: linear-gradient($primary-color), transparent;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  }

  &__scroll-down {
    display: none;
    @include tablet {
      position: absolute;
      right: -2.3rem;
      bottom: 5rem;
      transform: rotate(90deg);
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
}
