@use "./Styles/Partials/variables" as *;
@use "./Styles/Partials/mixin" as *;
@use "./Styles/Partials/fonts" as *;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,100;1,200&display=swap");

* {
  box-sizing: border-box;

  padding: 0;
  list-style: none;
  text-decoration: none;
}

// html,
// #root,
// body,
// .App {
//   // height: 100%;
// }

.App {
  // background-color: $primary-background;
  // background: rgb(2, 0, 36);
  // background: radial-gradient(
  //   circle,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgba(157, 132, 255, 1) 35%,
  //   rgba(0, 0, 0, 1) 100%
  // );
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;

  // line-height: 1.7rem;
}

// .socials {
//   @include tablet {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 0.8rem;
//     position: absolute;
//     left: 0;
//     bottom: 3rem;
//   }
// }

// .socials::after {
//   content: "";
//   width: 1px;
//   height: 2rem;
//   background: $primary-color;
// }

// .text-light {
//   color: $fourth-color;
// }

// a {
//   color: $primary-color;
//   transition: $transition;
// }

// a:hover {
//   color: $third-color;
// }

// .btn-primary {
//   background: $primary-color;
//   color: $primary-background;
// }
