@use "./Styles/Partials/variables" as *;
@use "./Styles/Partials/mixin" as *;
@use "./Styles/Partials/fonts" as *;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,100;1,200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.App {
  // background-color: $primary-background;
  // background: rgb(2, 0, 36);
  // background: radial-gradient(
  //   circle,
  //   rgba(2, 0, 36, 1) 0%,
  //   rgba(157, 132, 255, 1) 35%,
  //   rgba(0, 0, 0, 1) 100%
  // );
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  color: $third-color;
  line-height: 1.7rem;
}

// .container {
//   width: $container-width-sm;
//   margin: 0 auto;
//   @include tablet {
//     width: $container-width-md;
//   }
//   @include desktop {
//     width: $container-width-lg;
//   }
// }

// h1,
// h2,
// h3,
// h4,
// h5 {
//   font-weight: 500;
// }

// h1 {
//   font-size: 2.5rem;
// }

// section {
//   margin-top: 8rem;
//   @include tablet {
//     margin-top: 6rem;
//   }
//   @include desktop {
//     height: 100vh;
//   }
// }

// section > h2,
// section > h5 {
//   text-align: center;
//   color: $fourth-color;
// }

// section > h2 {
//   margin-bottom: 2rem;
//   @include desktop {
//     color: $primary-color;
//     margin-bottom: 3rem;
//   }
// }

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  color: #ececec;
  font-family: Quattrocento, serif;
  line-height: 1.8925;
  background-image: url(./Assets/grad.jpg);
  background-position: center;

  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  &:before {
    mix-blend-mode: overlay;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    border: 1px solid #efefef;
    z-index: 2;
  }
  &:after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    // background: rgba(#1a1a1a, 1);
    // background: radial-gradient(circle at top, #cc774d, #1a1a1a);
  }
  @media (max-height: 450px) {
    font-size: 10px;
  }
}

.content {
  position: relative;
  max-width: 650px;
  z-index: 1;
  padding: 4%;
  text-align: justify;
}

p {
  font-size: 0.7rem;
  position: relative;
  padding: 1em 0;
  letter-spacing: 1px;

  &:before,
  &:after {
    mix-blend-mode: difference;
    content: "";
    position: absolute;
    left: calc(25% / 2);
    width: 75%;
    height: 1px;
    background: #d4a790;
    // background: linear-gradient(to right, #7F5B4B, #3B1E11);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

h1 {
  margin-top: 0;
  padding-bottom: 1rem;
  font-family: Oswald;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.125;
  text-transform: uppercase;
  text-align: center;
}

// .socials {
//   @include tablet {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 0.8rem;
//     position: absolute;
//     left: 0;
//     bottom: 3rem;
//   }
// }

// .socials::after {
//   content: "";
//   width: 1px;
//   height: 2rem;
//   background: $primary-color;
// }

.text-light {
  color: $fourth-color;
}

a {
  color: $primary-color;
  transition: $transition;
}

a:hover {
  color: $third-color;
}

.btn {
  width: max-content;
  display: inline-block;
  color: $primary-color;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid $primary-color;
  transition: $transition;
}

.btn:hover {
  background: $third-color;
  color: $primary-background;
  border-color: transparent;
}

.btn-primary {
  background: $primary-color;
  color: $primary-background;
}
