@use "./Styles/Partials/variables" as *;
@use "./Styles/Partials/mixin" as *;
@use "./Styles/Partials/fonts" as *;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,100;1,200&display=swap");

* {
  box-sizing: border-box;

  padding: 0;
  list-style: none;
  text-decoration: none;
}

// html,
// #root,
// body,
// .App {
//   height: 100%;
// }

html {
  min-height: 100%;
}

.App {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
