@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

body {
  // background-image: url(../../Assets/JPGGradients/07.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  width: 95%;
  // mask-image: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 0) 0%,
  //   #ffffff 25%,
  //   #ffffff 75%,
  //   rgba(255, 255, 255, 0) 100%
  // );
  margin: 0 auto;
  padding: 1rem;
  // border-bottom: 0.5px white solid;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 25%,
      #ffffff 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1rem;
  }
  &__link {
    color: white;
  }
  &__link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }

  // &__img {

  // }

  &__logo {
    font-size: 2.5rem;

    font-family: "Nothing You Could Do", cursive;
    margin-left: 1rem;
    // background-image: url(../../Assets/8.jpg);
    // background-size: cover;
  }
}

// .mood {
//   // background: linear-gradient(135deg, #f97794 10%, #623aa2 100%);

// }

.test {
  height: 100vh;
  color: #fff;
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// nav {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 20px;
//   background: transparent;
//   height: 1rem;
// }

// .logo {
//   width: 50px;
// }

// .logo img {
//   display: block;
//   width: 100%;
// }

// .menu {
//   display: flex;
//   list-style: none;
//   margin: 0;
//   padding: 0;

//   transition: all 0.3s ease;
//   transform: translateX(-100%);
//   opacity: 0;
// }

// .menu li {
//   margin-left: 20px;
// }

// .menu li:first-child {
//   margin-left: 0;
// }

// .menu li a {
//   display: block;
//   padding: 10px;
//   color: #333;
//   text-decoration: none;
// }

// .hamburger-menu {
//   display: none;
//   cursor: pointer;
// }

// .hamburger-menu span {
//   display: block;
//   width: 30px;
//   height: 1.5px;
//   margin-bottom: 5px;
//   background-color: white;
// }

// @media (max-width: 768px) {
//   .menu {
//     display: none;
//   }
//   .hamburger-menu {
//     display: block;
//   }
// }

// .menu.visible {
//   display: block;
//   position: absolute;
//   top: 70px;
//   right: 0;
//   width: 200px;
//   background-color: white;
//   padding: 20px;
//   border: 1px solid gray;
//   transform: translateX(0);
//   opacity: 1;
// }
