


@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

body {
  background-image: url(../../Assets/JPGGradients/07.jpg);
  background-size: cover;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;

  padding-right: 4rem;
  color: white;
  text-decoration: none;
  //   border-bottom: rgb(248, 241, 241) 0.2px solid;
  width: 95%;
  margin-left: 3rem;

  &__items {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
  }

  &__link {
    color: white;
  }

  &__img {
    width: 100px;
  }

  &__logo {
    padding-top: 1rem;
    // background-image: url(../../Assets/Icons/Group.png);
    // background-size: cover;
    // background-position: right;
  }
}

// .mood {
//   // background: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
 

// }

.test {
  height: 100vh;
  color: #fff;
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: transparent;
  height: 1rem;
}

.logo {
  width: 50px;
}

.logo img {
  display: block;
  width: 100%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  transition: all 0.3s ease;
  transform: translateX(-100%);
  opacity: 0;
}

.menu li {
  margin-left: 20px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 30px;
  height: 1.5px;
  margin-bottom: 5px;
  background-color: white;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}

.menu.visible {
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  width: 200px;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  transform: translateX(0);
  opacity: 1;
}
